<p>parent works!</p>

<h2> Data From Child:: {{FromChildData}} </h2>

<h2> Name :: {{FromChildJsonData.name}} </h2>
<h2> ID :: {{FromChildJsonData.id}} </h2>
<h2> Post:: {{FromChildJsonData.post}} </h2>
<h2> Status :: {{FromChildJsonData.status}} </h2>

<table border="1px">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Post</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of FromChildArrObjData">
            <td> {{item.id}} </td>
            <td> {{item.name}} </td>
            <td> {{item.post}} </td>
            <td> {{item.status}} </td>
        </tr>
    </tbody>
</table>


<hr>
<!-- <app-child1 [ParentData]="strData" >

</app-child1> -->

<!-- <app-child1 [ParentJsonData]="JsonObj" 
    [ParentArrObj]="arrObj">

</app-child1>

<button (click)="OnClick()">Send</button>
<hr><hr>
<app-child1 [Parentstrdata]="Data"></app-child1> -->


<!-- <app-child2 
(ChildEvent)="FromChildData=$event" >

</app-child2> -->

<!-- <app-child2 
(ChildEvent1)="FromChildJsonData=$event" >

</app-child2> -->

<app-child2 
(ChildEvent2)="FromChildArrObjData=$event" >

</app-child2>

